{% extends 'back/base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Update evaluation</h1>
    </div>

    {% include 'back/evaluation/form.html.twig' %}
{% endblock body %}
